body {
    font-family: 'Roboto', sans-serif;
    background-color: #140c01;
    line-height: normal;
}

p{
    color: white;
}

header {
    padding: 20px 10px 20px 10px;
    background-color: rgb(26, 24, 44);
    border: 10px solid black;
}

nav {
    display: block;
}

ul {
    padding: 0%;
    margin: 0%;
}

li {
    display: inline-block;
    color: white;
}

.retrato {
    margin: 0%;
    border: 10px; 
    padding-left: 40%;
    padding-right: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.alinear{
    text-align: center;
}

.card-links-header a {
    text-decoration:none;
    font-size:30px;
    padding:10px;
    background-color: gray;
    color: azure;
}


h1 {
    color: antiquewhite;
    display: block;
    font-size: 4em;
    }

h2{
    color: aliceblue;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


.primerparrafo {
        color: aliceblue;
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 0px;
        border-top-width: 50px;
}


footer {
    color: white;
    background-color: black;
    padding-bottom: 10px;
}

.redes-sociales{
    background-color: black;
}

.div-contenedor-de-redes-sociales{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 130px;
}

.card-div-footer-textos{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly
}


#carouselExampleCaptions{
    margin: auto;
    width: 500px;
}

.carousel-caption{
    bottom: 10px;
    padding-bottom: 0%;
}

.carousel-caption h5 {
    color: #140c01;
    font-size: 30px;
}

.carousel-caption p {
    color: #140c01;
    font-size: 25px;
}


/* css de las media query */




@media (max-width: 576px){


    .card-links-header a{
        font-size: 25px;
        padding: 8px;
    }

    .card-registro{
        width: 550px;
    }

    .card-div-footer-textos{
        font-size: 12px;
    }



    
    .retrato {
        margin: 0%;
        border: 10px; 
        padding-left: 40%;
        padding-right: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .primerparrafo{
        font-size: 40px;
        text-align: justify;
        padding-left: 30px;
        padding-right: 30px;
    }

    .card-texto-introductorio{
        display: flex;
        flex-direction: column;
    }

}



@media (max-width: 768px) {



    .primerparrafo{
        font-size: 20px;
        text-align: justify;
        padding-left: 30px;
        padding-right: 30px;
    }

}